#list of files to ignore in git
#*.xml
!build.xml
!pom.xml
ij.jar
images/
macros/
org/
original/
plug/
plugins/
bin/
zip/
META-INF/
.DS_Store
TAGS
util/*.py
source/
doc/

/target/
.externalToolBuilders/

# Eclipse related files.
.classpath
.project
.settings/

\#*\#