# Name: Spatial SBML
# Author: Akira Funahashi
# Version: 0.1
# Date: 2013/02/07
# Requires: ImageJ

Plugins,"Xito SBML Plugin", sbmlplugin.Spatial_Img_SBML
#Plugins>Spatial SBML Plugins, "run Spatial Image SBML Plugin", sbmlplugin.Spatial_Img_SBML
#Plugins>Spatial SBML Plugins, "add Parameter and Species", Spatial_SBase_SBML
#Help>About Plugins, "Spatial SBML Plugin...", Spatial_SBML("about")
