# Name: Spatial SBML
# Author: Akira Funahashi
# Version: 0.1
# Date: 2013/02/07
# Requires: ImageJ

Plugins>Spatial SBML Plugin, "run Spatial Image SBML Plugin", Spatial_Img_SBML("run")
Plugins>Spatial SBML Plugin, "run Spatial Parametric SBML Plugin", Spatial_Parametric_SBML("run")
#Help>About Plugins, "Spatial SBML Plugin...", Spatial_SBML("about")
