# Name: Spatial SBML
# Author: Akira Funahashi
# Version: 0.1
# Date: 2013/02/07
# Requires: ImageJ

Plugins>XitoSBML, "run Spatial Image SBML Plugin", sbmlplugin.Spatial_Img_SBML
#Plugins>XitoSBML, "add Parameter and Species", sbmlplugin.Spatial_SBase_SBML
#Help>About Plugins, "Spatial SBML Plugin...", Spatial_SBML("about")
