# Name: XitoSBML
# Author: Kaito Ii and Akira Funahashi
# Version: 1.0.0
# Date: 2017/09/30
# Requires: ImageJ 1.51h

Plugins>XitoSBML, "run Spatial Image SBML Plugin", jp.ac.keio.bio.fun.xitosbml.Spatial_Img_SBML("")
Plugins>XitoSBML, "run Model Editor", jp.ac.keio.bio.fun.xitosbml.Spatial_Model_Edit("")
Plugins>XitoSBML, "run Model Validation", jp.ac.keio.bio.fun.xitosbml.Spatial_Model_Validator("")
Help>About Plugins, "XitoSBML...", jp.ac.keio.bio.fun.xitosbml.Spatial_Img_SBML("about")
